@page "/"
@using Microsoft.AspNetCore.Components.Server
@rendermode InteractiveServer

<PageTitle>Домашняя страница</PageTitle>

Домашняя страница

<Body>
<link href="css/site.css" rel="stylesheet" />
<link rel="stylesheet" href="scss/select.scss"/>
</Body>