@inject IConfiguration config
@rendermode InteractiveServer
@page "/map"
@using OpenStreetMapForBlazor

<div style="height: 500px;">
    <OSMap Click="@MapClickEvent" CenterMap="@defPosition" />
</div>

<Body>
    <link href="css/site.css" rel="stylesheet" />
</Body>

@code {
    public MapPosition position;

    private MapPosition? defPosition;
    
    protected override void OnInitialized()
    {
        defPosition = new MapPosition() { Lat = config.GetValue<double>("Main:DefLat"), Lng = config.GetValue<double>("Main:DefLng") };
    }

    public void MapClickEvent(MapClickEventArgs args)
    {
        //events.Add(DateTime.Now, $"Map clicked at Lat: {args.Position.Lat}, Lng: {args.Position.Lng}");

        if (args != null) position = args.Position;

        //btnActive = !(position.Lng == defPosition.Lng && position.Lat == defPosition.Lat);
        //actualJson = JsonConvert.SerializeObject(args);

        //StateHasChanged();
    }
}
