@inject IConfiguration config
@inject IJSRuntime JSRuntime
@page "/map"
@using OpenStreetMapForBlazor
@rendermode InteractiveServer

<style>
    footer {
        position: absolute;
    }
</style>

<div id="map" style="height: 400px; width: 100%;"></div>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("initMap");
            await JSRuntime.InvokeVoidAsync("console.log", "Hello, world!");
        }
    }

    [JSInvokable]
    public static void ReceiveCoordinates(double[] coordinates)
    {
        if (coordinates.Length >= 2) // Проверяем, что массив содержит хотя бы два элемента
        {
            double lat = coordinates[0];
            double lng = coordinates[1];
            Console.WriteLine($"Received marker coordinates: {lat}, {lng}");
            // Здесь вы можете добавить логику для обработки полученных координат
        }
    }
}