@inject IConfiguration config
@inject IJSRuntime JSRuntime
@page "/map"
@inject AppDbContext _context
@rendermode InteractiveServer

<style>
    footer {
        position: absolute;
    }
</style>

<MudGrid Justify="Justify.Center" Style="margin-left: 100px;">
    <MudCard>
        <MudCardContent>
            
        </MudCardContent>
    </MudCard>
    <div id="map" style="height: 85vh; width: 66%; margin-bottom: 50px; margin-top: 20px"></div>
</MudGrid>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("initMap");
            await JSRuntime.InvokeVoidAsync("console.log", "Hello, world!");
            await JSRuntime.InvokeVoidAsync("disableClickHandler");
            foreach (var temple in _context.Temples)
            {
                if (temple.Lng != 0 || temple.Lat != 0)
                {
                    await JSRuntime.InvokeVoidAsync("addMarker", temple.Lat, temple.Lng, temple.Name);
                }
            }
        }
    }
}