@page "/notes"

<style>
    footer {
        position: absolute;
    }
</style>

<div style="display:flex;">
    <MudLink>А</MudLink>
    <MudLink>Б</MudLink>
    <MudLink>В</MudLink>
    <MudLink>Г</MudLink>
    <MudLink>Д</MudLink>
    <MudLink>Е</MudLink>
    <MudLink>Ё</MudLink>
    <MudLink>Ж</MudLink>
    <MudLink>З</MudLink>
    <MudLink>И</MudLink>
    <MudLink>Й</MudLink>
    <MudLink>К</MudLink>
    <MudLink>Л</MudLink>
    <MudLink>М</MudLink>
    <MudLink>Н</MudLink>
    <MudLink>О</MudLink>
    <MudLink>П</MudLink>
    <MudLink>Р</MudLink>
    <MudLink>С</MudLink>
    <MudLink>Т</MudLink>
    <MudLink>У</MudLink>
    <MudLink>Ф</MudLink>
    <MudLink>Х</MudLink>
    <MudLink>Ц</MudLink>
    <MudLink>Ч</MudLink>
    <MudLink>Ш</MudLink>
    <MudLink>Щ</MudLink>
    <MudLink>Ъ</MudLink>
    <MudLink>Ы</MudLink>
    <MudLink>Ы</MudLink>
    <MudLink>Э</MudLink>
    <MudLink>Ю</MudLink>
    <MudLink>Я</MudLink>
</div>

<style>
    .mud-link.mud-link-underline-hover {
        margin-right: 5px;
    }
</style>

@code {
    
}