@using System.Security.Claims
@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Components.Authorization
@using Temple.Net.Data
@using Temple.Net.Models
@using Temple.Net.Service
@inject UserDbContext _context
@inject UserService _userService
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager
@rendermode InteractiveServer
@page "/reg"

<Body>
    <link href="css/site.css" rel="stylesheet" />
</Body> 

<div class="container">
    <div class="row">
        <div class="col-lg-10 col-xl-9 mx-auto">
            <div class="card flex-row my-5 border-0 shadow rounded-3 overflow-hidden">
                <div class="card-body p-4 p-sm-5">
                    <h5 class="card-title text-center mb-5 fw-light fs-5">Регистрация</h5>
                    <EditForm Model="model" OnSubmit="Submit">
                        <div class="form-floating mb-3">
                            <input class="form-control" @bind-value="model.LastName">
                            <label>Фамилия</label>
                        </div>

                        <div class="form-floating mb-3">
                            <input class="form-control" @bind-value="model.Name">
                            <label>Имя</label>
                        </div>

                        <div class="form-floating mb-3">
                            <input class="form-control" @bind-value="model.Otch">
                            <label>Отчество</label>
                        </div>

                        <hr>

                        <div class="form-floating mb-3">
                            <input type="email" class="form-control" @bind-value="model.Email">
                            <label>Почта</label>
                        </div>

                        <div class="form-floating mb-3">
                            <input type="password" class="form-control" @bind-value="model.Password">
                            <label>Пароль</label>
                        </div>

                        <div class="d-grid mb-2">
                            <button class="btn btn-lg btn-primary btn-login fw-bold text-uppercase" type="submit">Зарегистрироваться</button>
                        </div>

                        <a class="d-block text-center mt-2 small" href="/login">Имеете уже у нас аккаунт?Нажмите что бы войти</a>
                    </EditForm>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <p>@Message</p>
</div>

@code {
    private AuthViewModel model = new();

    private string Message;

    public async Task Submit()
    {
        if (_context.Users.FirstOrDefault(x => x.Email == model.Email) == null)
        {
            User user = new()
            {
                Id = Guid.NewGuid().ToString("N"),
                Email = model.Email,
                Role = "read",
                PasswordHash = await _userService.CreatePasswordHashAsync(model.Password),
                Name = model.Name,
                Otch = model.Otch,
                LastName = model.LastName
            };

            _context.Users.Add(user);
            await _context.SaveChangesAsync();

            NavigationManager.NavigateTo($"auth/singin?email={model.Email}&name={model.Name}", true);
        }
        else
        {
            Message = "Пользователь с такой почтой уже зарегистрирован";
        }
    }
}