@inherits LayoutComponentBase
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IJSRuntime JSRuntime
@using System.Security.Claims
@inject UserDbContext _context
@using Microsoft.AspNetCore.Components.Authorization 
@using Temple.Net.Data

<MudPopoverProvider @rendermode="InteractiveServer"/>

<!DOCTYPE html>
<html lang="en">
<head>
    
</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Temple.Net</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="/home">Домашняя страница</a>
                    </li>
                    <li class="nav-item" style="margin-left: 5px;">
                        @if (IsAuth == true && (AuthenticationStateProvider.GetAuthenticationStateAsync().Result.User.FindFirst(ClaimTypes.Role).Value) != null)
                        {
                            var user = _context.Users.FirstOrDefault(x => x.Email == AuthenticationStateProvider.GetAuthenticationStateAsync().Result.User.FindFirst(ClaimsIdentity.DefaultNameClaimType).Value);

                            if (user?.Role == "admin")
                            {
                                <a class="nav-link text-dark" href="/admin">Админ панель</a>
                            }
                        }
                    </li>
                    <li class="nav-item" style="margin-left: 5px;">
                        @if (IsAuth == true && (AuthenticationStateProvider.GetAuthenticationStateAsync().Result.User.FindFirst(ClaimTypes.Role).Value) != null)
                        {
                            var user = _context.Users.FirstOrDefault(x => x.Email == AuthenticationStateProvider.GetAuthenticationStateAsync().Result.User.FindFirst(ClaimsIdentity.DefaultNameClaimType).Value);

                            if (user?.Role == "admin" || user?.Role == "edit")
                            {
                                <a class="nav-link text-dark" href="/find">Поиск</a>
                            }
                        }
                    </li>
                    <li class="nav-item" style="margin-left: 5px;">
                        @if (IsAuth)
                        {
                            <a class="nav-link text-dark" href="/add">Добавить</a>
                        }
                    </li>
                    <li class="nav-item" style="margin-left: 5px;">
                        @if (IsAuth)
                        {
                        <a class="nav-link text-dark" href="/notes">Справочники</a>
                        }
                    </li>
                    <li class="nav-item" style="margin-left: 5px;">
                        <a class="nav-link text-dark" href="/map">Карта</a>
                    </li>
                    <li class="nav-item" style="margin-left: 10px;">
                        @if (IsAuth == true && (AuthenticationStateProvider.GetAuthenticationStateAsync().Result.User.FindFirst(ClaimTypes.Role).Value) != null)
                        {
                        var user = _context.Users.FirstOrDefault(x => x.Email == AuthenticationStateProvider.GetAuthenticationStateAsync().Result.User.FindFirst(ClaimsIdentity.DefaultNameClaimType).Value);

                        if (user?.Role == "admin" || user?.Role == "edit")
                        {
                        <a class="nav-link text-dark" href="/database">База данных</a>
                        }
                        }
                    </li>
                    <li class="nav-item ml-auto" style="margin-right: 5px;">
                        @if (IsAuth)
                        {
                            <a class="nav-link text-dark">@AuthenticationStateProvider.GetAuthenticationStateAsync().Result.User.Identity.Name</a>
                        }
                        else
                        {
                            <a class="nav-link text-dark" href="/reg">Регистрация</a>
                        }
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<div>
    <MudContainer MaxWidth="MaxWidth.ExtraLarge">
        @Body
    </MudContainer>
</div>

<script src="js/OSMap.js"></script>
<script>
    Blazor.start().then(() => {
        Blazor.defaultReconnectionHandler._reconnectCallback = function (d) {
            document.location.reload();
        }
    });
</script>
</body>
<footer class="border-top footer text-muted page-footer"> 
    <div class="container">
        &copy; 2024 - Temple.Net - <a>Privacy</a>
    </div>
</footer>
</html>

<style>
    footer {
        /*position: absolute;*/
        bottom: 0;
        width: 100%;
        text-align: center;
        white-space: nowrap;
        line-height: 60px;
    }
</style>

@code {
    private bool IsAuth;

    protected override void OnInitialized()
    {
        if (AuthenticationStateProvider.GetAuthenticationStateAsync().Result.User.Identity.IsAuthenticated)
        {
            IsAuth = true;
        }
        else
        {
            IsAuth = false;
        }
    }
}